#registry=https://packagerepo.changiairport.com/repository/npm-proxy/
email=you@example.com
always-auth=true
//packagerepo.changiairport.com/repository/npm-proxy/:_auth="ZGl2YS1qZW5raW5zLW5wbS1zZXJ2aWNlLWFjY291bnQ6a29wYURoR3RhNzVEenhRdnJ3QVQ="